[Unit]
Description=Train Departure Display
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/trainline/env/bin/python /home/pi/trainline/trainline.py
WorkingDirectory=/home/pi/trainline
StandardOutput=append:/home/pi/train.log
StandardError=append:/home/pi/train.log
Restart=on-failure
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
