[Unit]
Description=Train Tracker Web Configuration UI
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/TrainTracker/env/bin/python /home/pi/TrainTracker/web_config.py
WorkingDirectory=/home/pi/TrainTracker
StandardOutput=append:/home/pi/train-web.log
StandardError=append:/home/pi/train-web.log
Restart=on-failure
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
