[Unit]
Description=Trainline Web Configuration UI
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/trainline/env/bin/python /home/pi/trainline/web_config.py
WorkingDirectory=/home/pi/trainline
StandardOutput=append:/home/pi/train-web.log
StandardError=append:/home/pi/train-web.log
Restart=on-failure
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
